#rootContainer {
    margin-top: 2px;
}

#rootContainer>.container {
    width: 100%;
    padding: 0;
}

#rootContainer>.container>.col-md-12 {
    padding: 0;
}

.directories {
    width: 100%;
    padding: 0;
}

.images {
    width: 100%;
    padding: 0;
}

.directories>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.directories>.row>.col-xs-3 {
    display: inline-block;
    float: none;
    overflow: hidden;
}

.images>.image {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.images>.image img {
    height: 110px;
}

.breadcrumbdir {
    font-size: 11px;
}

.downloadForm {
    height: 100%;
}

.downloadForm>form {
    height: inherit;
}

.downloadForm>form>input[type=button] {
    margin-top: 20px;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}