custom-scripts/*
vendor/*
web/img-mngr/node_modules/*
web/img-mngr/scripts/*
web/img-mngr/.vscode/*
dist/*
image-manager.cfg
Dockerfile
docker-compose.yml
docker-compose.override.yml
*docker-helper-config
*dockerignore
*gitignore
*git
